# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Autumn Peacock
	email = 8338669+MissAutumnForest@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
